* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* START SCREEN */
.start_screen {
  width: 1280px;
  height: 908px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px 0 40px;
  background: url(./img/start-screen-gradient-background.png);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 90px 0;
}

.title {
  color: var(--color-primary, #f1cdb3);

  /* logo_title */
  font-family: Georgia;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 35.2px */
  letter-spacing: 1.92px;
}
.subtitle {
  color: var(--color-light-xl, #fff);

  /* logo_subtitle */
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px;
}
.link {
  color: var(--color-dark-s, #cdcdcd);

  /* paragraph-l */
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
}
nav ul {
  display: flex;
  gap: 35px;
}
nav li {
  list-style-type: none;
}
nav li a {
  text-decoration: none;
}
nav li a:hover {
  color: var(--color-light-s, #fafafa);
}

.start_screen-content {
  display: flex;
  justify-content: space-between;
}
.content {
  padding: 163px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 42px;
  max-width: 460px;
  align-items: flex-start;
}
.heading_div {
  max-width: 310px;
}
.heading {
  color: var(--color-light-xl, #fff);

  /* h2 */
  font-family: Georgia;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 57.2px */
}

.subheading {
  color: var(--color-dark-s, #cdcdcd);

  /* paragraph-l */
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
}

.primary_button {
  padding: 15px 45px;
  border-radius: 100px;
  background: var(--color-primary, #f1cdb3);
  color: var(--color-dark-3-xl, #292929);
  font-family: Georgia;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 22.1px */
  letter-spacing: 1.02px;
}
