* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
/* START SCREEN */
.start_screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px 0 40px;
  background: url(./img/start-screen-gradient-background.png);
}
@media (max-width: 768px) {
  .start_screen {
    padding: 30px 30px 0 30px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 90px 0;
}
@media (max-width: 1030px) {
  header {
    padding: 0 0 60px 0;
  }
}
.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  color: var(--color-primary, #f1cdb3);

  /* logo_title */
  font-family: Georgia;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 35.2px */
  letter-spacing: 1.92px;
}
.subtitle {
  color: var(--color-light-xl, #fff);

  /* logo_subtitle */
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.3px;
}
.link {
  color: var(--color-dark-s, #cdcdcd);

  /* paragraph-l */
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
}
nav ul {
  display: flex;
  gap: 35px;
}
@media (max-width: 720px) {
  nav ul {
    display: none;
  }
}
nav li {
  list-style-type: none;
  position: relative;
  padding-bottom: 3px;
}
nav li a {
  text-decoration: none;
}
nav li a:hover {
  color: var(--color-light-s, #fafafa);
}

nav li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Высота линии */
  background: var(--color-primary, #f1cdb3); /* Цвет линии */
  transform: scaleX(0); /* Скрываем линию изначально */
  transform-origin: left;
  transition: transform 0.3s ease-in-out; /* Анимация раскрытия линии */
}

nav li:hover::after {
  transform: scaleX(1); /* Показываем линию при наведении курсора */
}
/* BURGER-MENU */
.menu-toggle {
  display: none;
  cursor: pointer;
  padding: 0 20px;
  gap: 6px;
}
.bar {
  width: 30px;
  height: 2px;
  background-color: #f1cdb3;
}
@media (max-width: 720px) {
  .menu-toggle {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
.start_screen-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1030px) {
  .start_screen {
    background: radial-gradient(circle at 0% 0%, #5b483a 0%, #211f20 100%);
  }
  .start_screen-content {
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  .start_screen-content img {
    max-width: 569px;
    align-self: flex-end;
  }
}
@media (max-width: 620px) {
  .start_screen-content img {
    max-width: 260px;
    align-self: flex-end;
  }
}

.content {
  padding: 163px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 42px;
  max-width: 460px;
  align-items: flex-start;
}
@media (max-width: 450px) {
  .content {
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 1030px) {
  .content {
    padding: 0px;
  }
}
.heading_div {
  max-width: 310px;
}
.heading {
  color: var(--color-light-xl, #fff);

  /* h2 */
  font-family: Georgia;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 57.2px */
}
@media (max-width: 375px) {
  .start_screen {
    padding: 10px 10px 0 10px;
  }
  .heading {
    font-size: 25px;
  }
}

.subheading {
  color: var(--color-dark-s, #cdcdcd);

  /* paragraph-l */
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
}

.primary_button {
  padding: 15px 45px;
  border-radius: 100px;
  background: var(--color-primary, #f1cdb3);
  color: var(--color-dark-3-xl, #292929);
  font-family: Georgia;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 22.1px */
  letter-spacing: 1.02px;
  text-decoration: none;
}
@media (max-width: 1030px) {
  .primary_button {
    align-self: center;
  }
}
.primary_button:hover {
  border-radius: 100px;
  background: var(--color-primary-light, #fddcc4);
  cursor: pointer;
}

/* ABOUT */
.about {
  padding: 80px 40px 100px 40px;
}
.about_content {
  display: flex;
  justify-content: center;
  gap: 120px;
}
@media (max-width: 860px) {
  .about_content {
    flex-direction: column-reverse;
    gap: 80px;
  }
}
@media (max-width: 860px) {
  .about_content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }
}
@media (max-width: 480px) {
  .about {
    padding: 42px 10px;
  }
  .about_content {
    text-align: center;
  }
  .about_text {
    align-items: center;
  }
  .about_content img {
    max-width: 300px;
  }
}

.about_text {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.heading_about {
  max-width: 370px;
  color: var(--color-dark-l, #545454);

  /* h3 */
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 45.5px */
  letter-spacing: 2.1px;
}
.subheading_about {
  color: var(--color-dark-xl, #4c4c4c);

  /* paragraph-l */
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 24px */
}
@media (max-width: 375px) {
  .heading_about {
    font-size: 25px;
  }
  .about_content {
    gap: 42px;
  }
}
/* PETS */
.pets {
  padding: 80px 40px 100px 40px;
  background: var(--color-light-l, #f6f6f6);
}
.pets_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.heading_pets {
  max-width: 400px;
  color: var(--color-dark-l, #545454);
  text-align: center;

  /* h3 */
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 45.5px */
  letter-spacing: 2.1px;
}

.slider_pets {
  display: flex;
  align-items: center;
  gap: 50px;
}
.card_container {
  display: flex;
  align-items: center;
  gap: 90px;
}
@media (max-width: 860px) {
  .slider_pets {
    gap: 12px;
  }
  .card_container {
    gap: 40px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 9px;
  background: var(--color-light-s, #fafafa);
  padding: 0 0 30px 0;
}
@media (max-width: 1200px) {
  .card:last-child {
    display: none;
  }
}
.pet_name {
  color: var(--color-dark-l, #545454);
  text-align: center;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}
.button_secondary {
  padding: 15px 45px;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  color: var(--color-dark-3-xl, #292929);
  background: var(--color-light-s, #fafafa);
  font-family: Georgia;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 22.1px */
  letter-spacing: 1.02px;
}
.button_secondary:hover {
  border-radius: 100px;
  background: var(--color-primary-light, #fddcc4);
  border: 2px solid #fddcc4;
  cursor: pointer;
}
.btn_arrow {
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  display: inline-flex;
  padding: 23px 19px;
  flex-direction: column;
  align-items: center;
}
.btn_arrow:hover {
  border-radius: 100px;
  background: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
}
@media (max-width: 720px) {
  .slider_pets {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 0;
  }
  .card_container {
    order: 1;
  }
  .btn_arrow:first-child {
    order: 2;
  }
  .btn_arrow:last-child {
    order: 3;
  }
}
@media (max-width: 600px) {
  .card:first-child {
    display: none;
  }
  .slider_pets {
    gap: 20px;
  }
  .card_container {
    order: 2;
  }
  .btn_arrow:first-child {
    order: 1;
  }
  .btn_arrow:last-child {
    order: 3;
  }
}
@media (max-width: 510px) {
  .pets {
    padding: 42px 10px;
  }
  .pets_content {
    gap: 42px;
  }
}
@media (max-width: 441px) {
  .slider_pets {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 100px;
  }
  .card_container {
    order: 1;
  }
  .btn_arrow:first-child {
    order: 2;
  }
  .btn_arrow:last-child {
    order: 3;
  }
}
@media (max-width: 375px) {
  .heading_pets {
    font-size: 25px;
  }
}
/* HELP */

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 40px 100px 40px;
  gap: 60px;
}
.help_heading {
  max-width: 308px;
  color: var(--color-dark-l, #545454);
  text-align: center;

  /* h3 */
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 45.5px */
  letter-spacing: 2.1px;
}

.help_list {
  display: flex;
  flex-wrap: wrap;
  gap: 55px 80px;
  justify-content: center;
  padding: 0 87px;
}

.help_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.help_text {
  color: var(--color-dark-l, #545454);
  text-align: center;

  /* h4 */
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 23px */
  letter-spacing: 1.2px;
}

/* КОНЕЦ */
@media (max-width: 1120px) {
  .help {
    padding: 80px 69px 100px 69px;
  }
  .help_list {
    gap: 60px;
    padding: 0;
    justify-content: space-between;
  }
  .help_card {
    width: 170px;
  }
}
@media (max-width: 768px) {
  .help_list {
    gap: 20px;
  }
}
@media (max-width: 680px) {
  .help {
    padding: 42px 10px;
  }
  .help_list {
    gap: 10px;
  }
}
@media (max-width: 375px) {
  .help_heading {
    font-size: 25px;
  }
  .help_card {
    gap: 20px;
  }
  .help_card img {
    width: 50px;
  }
}
/* DONATION */
.donation {
  padding: 80px 40px 100px 40px;
  background: var(--color-light-l, #f6f6f6);
}
.donation_content {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.donation_text {
  max-width: 380px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.heading_donation {
  max-width: 300px;
  color: var(--color-dark-l, #545454);

  /* h3 */
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 45.5px */
  letter-spacing: 2.1px;
}
.subheading_donation {
  color: var(--color-dark-l, #545454);

  /* h5 */
  font-family: Georgia;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 16.5px */
  letter-spacing: 0.9px;
}
.credit_card_donation {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  gap: 10px;

  border-radius: 9px;
  background: var(--color-primary, #f1cdb3);
}
.credit_card_number {
  color: var(--color-dark-l, #545454);

  /* h4 */
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 23px */
  letter-spacing: 1.2px;
}
.donation_legacy {
  color: var(--color-dark-m, #b2b2b2);
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
@media (max-width: 960px) {
  .donation_content {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 510px) {
  .donation {
    padding: 42px 10px;
  }
  .donation_text {
    align-items: center;
    text-align: center;
  }
  .donation_img {
    width: 260px;
  }
}
@media (max-width: 375px) {
  .heading_donation {
    font-size: 25px;
  }
}
/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
  background: url(./img/footer-background.png), lightgray 50% / cover no-repeat;
}
.contacts {
  display: flex;
  flex-direction: column;

  gap: 40px;
}
.contacts_title {
  max-width: 280px;
  color: var(--color-light-xl, #fff);

  /* h3 */
  font-family: Georgia;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 45.5px */
  letter-spacing: 2.1px;
}
.contacts_container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contacts__text {
  max-width: 260px;
  color: var(--color-primary, #f1cdb3);

  /* h4 */
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 23px */
  letter-spacing: 1.2px;
}
@media (max-width: 981px) {
  footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 65px;
    background: radial-gradient(circle at 0% 0%, #5b483a 0%, #211f20 100%);
  }
}
@media (max-width: 480px) {
  footer {
    padding: 30px 10px 0 10px;
    gap: 40px;
  }
}
@media (max-width: 375px) {
  .contacts_title {
    font-size: 25px;
    text-align: center;
  }
}
